<header  class="main-header" >
    <nav class="main-header__nav" >
        <ul class="main-header__item-list">
            <li class="main-header__item" >
                <a class="<%= path === '/' ? 'active': ''  %> " href= "/"   >   shop     </a>
            </li>
            <li  class="main-header__item" >
                <a  class="<%= path === '/admin/form'? 'active': ''  %>"  href= "/admin/form"  >  add product     </a>
            </li>
            <li class="main-header__item" >
                <a class="<%= path === 'cart' ? 'active': ''  %> " href= "/cart"   >  cart     </a>
            </li>
            <li class="main-header__item" >
                <a class="<%= path === '/products' ? 'active': ''  %> " href= "/products"   >   products     </a>
            </li>
            <li class="main-header__item" >
                <a class="<%= path === '/adminproducts' ? 'active': ''  %> " href= "/adminproducts"   >   checkout    </a>
            </li>
        
        </ul>

    </nav>
</header>